body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    background-color: rgb(163, 203, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    color: #fff;
    background-color: #0b71e0;
    filter: drop-shadow(0px 0px 5px #00000077);
}

.geral {
    width: auto;
    min-width: 45vw;
    height: auto;
    filter: drop-shadow(0px 0px 5px #00000077);
    background-color: #0b71e0;
    padding: 30px 20px;
    border-radius: 20px;
}
.geral div{ 
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#cartasJogadores {
    padding: 15px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px #00000077);
}

#botao2, #botao3, #select, #botao4, #botao5, 
#botao6, #botao7, #botao8, #botao9, #textoTopo, 
#cartasJogadores, #escolha, #conjuntos{
    display: none;
}

.botao {
    border-radius: 20px;
    width: 250px;
    height: auto;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: rgb(115, 176, 255);
    filter: drop-shadow(8px 8px 2px #00000077);
}
select {
    border-radius: 20px;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    filter: drop-shadow(8px 8px 2px #00000077);
}


#divRegras{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 20px 0 0;
}

#botaoRegras{
    border-radius: 20px;
    width: auto;
    height: auto;
    font-size: 12px;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    margin: 5px;
    background-color: rgb(234, 255, 115);
    filter: drop-shadow(5px 5px 2px #00000077);
}

@media (max-width: 500px) {
    header{
        flex-direction: column;
        font-size: 14px;
    }
    #botaoFalso{
        display: none;
    }
    #botaoRegras{
        width: 100px;
        margin: 0 0 15px 0;
    }
    .geral{
        margin-top: 120px;
        min-width: none;
    }
    #cartasJogadores{
        max-width: 450px;
    }
}